body {
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2016/09/05/21/23/kings-cross-1647741_960_720.jpg); */
  /* background: url(../../images/background1.jpg); */
  background-size: cover;
  color: #2847ff;
  font: 600 16px/18px 'Open Sans', sans-serif;
  overflow-y: hidden;
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

a {
  color: inherit;
  text-decoration: none
}

.login-wrap {
  width: 400px;
  height: 500px;
  margin: auto;
  top: 20%;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  background-size: cover;
}

.login-html {
  width: 400px;
  height: 510px;
  padding: 70px 70px 50px 70px;
  border-radius: 12px;
  background: rgba(161, 159, 161, 0.137);
  backdrop-filter: blur(10px);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
  color: #fff;
  border-color: #1161ee;
}

.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 15px;
}

.input::placeholder {color:rgb(46, 34, 34);}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.26);
}

.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}

.login-form .group .label {
  color: #ffffff;
  font-size: 12px;
}

.login-form .group .button {
  background: #1161ee;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.678)
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
  color: #fff;
}

.login-form .group .check:checked+label .icon {
  background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
  transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, .2);
}

.foot-lnk {
  text-align: center;
}

.group label {
  margin-bottom: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.button {
  cursor: pointer;
}


/*  modal popup ad  */
.modal {
  position: absolute;
  width: 510px;
  height: 300px;
  border-radius: 5px;
  padding-top: 30px;
}

.modal-close {
  position: absolute;
  color: white;
  text-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  font-weight: bold;
  top: 3%;
  left: 96%;
  cursor: pointer;
}

.modal-content {
  background-size: cover;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.popup1 {
  top: 5%;
  left: 5%;
}

.popup2 {
  top: 25%;
  left: 11%;
}

.popup3 {
  top: 30%;
  left: 63%;
}

.popup4 {
  top: 53%;
  left: 70%;
}

.pop-image1 {
  background-image: url(../../images/pop-image1.png);
  width: 480px;
  height: 269px;
}

.pop-image2 {
  background-image: url(../../images/pop-image2.png);
  width: 480px;
  height: 269px;
}

.pop-image3 {
  background-image: url(../../images/pop-image3.png);
  width: 480px;
  height: 280px;
}

.pop-image4 {
  background-image: url(../../images/pop-image4.png);
  width: 480px;
  height: 259px;
}
