body {
    margin: 0;
    background-color: black;
}

p {
    width: 100%;

    font-weight: 700;

    margin-bottom: 5px;
    padding-left: 30px;
}

.background-top {
    z-index: -1;
    width: 100%;
    aspect-ratio: 60 / 13;

    position: fixed;

    background-image: url('../../images/background_long.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
}

.test-title {
    width: 930px;
    aspect-ratio: 31 / 6;

    background-image: url('../../images/test_title.png');

    margin-left: 50px;
}

.hidable-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    margin-top: 50px;
}

.question {
    margin-bottom: 50px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.q-title {
    font-weight: 700;
    font-size: 20px;

    margin-bottom: 20px;
}

.answer {
    margin-bottom: 10px;
}

.btn {
    background-color: white;

    color: black;
    font-size: 20px;
    font-weight: 700;

    border-radius: 100px;

    margin-top: 30px;
    padding: 30px 80px;
}

.btn:hover {
    border: solid 2px white;
    border-radius: 100px;

    box-shadow: 0 0 30px white;

    cursor: pointer;
}

.birthday {
    width: 300px;
    height: 30px;

    background-color: rgba(255, 255, 255, 0.3);

    border: solid 1px white;
    border-radius: 20px;

    color: white;
    font-size: 20px;
    text-align: center;

    padding: 10px;
}

.birthday:focus {
    outline: none;
}

#question_dorm {
    width: 720px;

    margin-top: 50px;
}